<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-sm-12">
      <div class="col-sm-3" align="left">
        <%= image_tag "baby.jpg", alt: "Baby", class: "img-circle img-baby" %>
      </div>
      <div class="col-sm-9" align="right">
        <p>
          Vestibulum ac volutpat magna, id pharetra ipsum. Nam tincidunt tincidunt feugiat.
          Duis imperdiet venenatis ligula, et posuere mauris dignissim ac. Ut consectetur venenatis nisi fringilla viverra.
           Nullam tristique cursus tortor, quis cursus magna iaculis a. Cras non velit vitae ex ultrices aliquet.
           Aenean lobortis consequat felis, vel accumsan felis molestie sed. Curabitur vestibulum scelerisque lectus,
           at fermentum nulla hendrerit a. Vivamus velit lectus, tincidunt non erat vitae, hendrerit faucibus erat.
           Sed ligula ante, venenatis et lacinia non, consequat eu nisi. In pretium nunc risus, a rutrum augue pretium ut.
           Nulla porta vehicula diam, ut venenatis nunc convallis eu. In quis ante malesuada, hendrerit libero viverra, lacinia lectus.
           Proin enim velit, malesuada eget consequat vel, dignissim in turpis. Vestibulum ac est ac sapien sollicitudin sagittis eget in leo.
         </p>
       </div>
     </div>
   </div>
 </div>
