
    <% @posts.each do |post| %>
        <div class="well" align="center">
            <h1>
            <%= link_to "#{post.title}", post_path(post) %>
            </h1>

            <p>
                Submitted <%= time_ago_in_words(post.created_at) %>
                <% if user_signed_in? %>
                | <%= link_to 'Edit', edit_post_path(post), class: "label label-primary" %>
                <% end %>
            </p>

            <p>
                <%= post.body %>
            </p>
        </div>
    <% end %>
