
    <% @posts.each do |post| %>
        <div class="well" align="center">
            <h1>
            <%= post.title %>
            </h1>
            
            <p>
                Submitted <%= time_ago_in_words(post.created_at) %> | <%= link_to 'Edit', edit_post_path(post), class: "label label-primary" %>
            </p>
            
            <p>
                <%= post.body %>
            </p>
        </div>
    <% end %>
